<html>
<head>
    <style type="text/css">
        body {
            width: 700px;
            margin: 0 auto;
            font-size: 16px !important;
        }

        div.content {
            padding-bottom: 20px;
            font-size: 16px;
            line-height: 25px;
        }

        .po-number {
          font-size: 30px;
          font-weight: bold;
          color: #5cb85c;
          padding-top: 50px;
          padding-bottom: 30px;
        }

        .amount {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div style="width: 500px; margin: 0 auto; padding: 30px 30px 50px 30px;">
        <div style="width: 100%">
            <img src="https://s3.amazonaws.com/authorized-acquisition-assets/small_logo.png" style="padding-top: 30px" />
            <div class="po-number">PO Number: <%= data.poNumber %></div>
            <div class="content">Hello <%= data.contactName %> (account contact)!</div>
            <div class="content">
                We are writing to inform you that there has been a change in value for <b>Purchase Order <%= data.poNumber %>. </b>
                The changes are summarized as follows:
            </div>
            <div class="content" style="font-size:20px">
                <i><b>Original Purchase Order Amount: <%= data.poAmount %></b></i><br />
                <span style="color: #5cb85c"><b>New Purchase Order Amount: <%= data.newAmount %></b></span>
            </div>
            <div class="content">Details regarding each change are included in the <b style="color: #5cb85c">PDF packet attached to this email</b>.</div>
            <div class="content">For questions regarding these Purchase Order changes, please contact <a href="mailto:<%= data.email %>"><%= data.name %></a></div>
            <div class="content">Thank you and have a great day!<br /><%= data.name %></div>
        </div>
    </div>

    <div style="width: 500px; margin: 0 auto; padding:30px; background-color: #5cB85c">
        <div class="content" style="color: white;">
            <b>Prefer to call us?</b><br />
            <span style="color: #222; text-decoration: none;">708-479-0062</span>
        </div>
        <div class="content">
            9830 West 190th Street, Suite I<br/>
            Mokena, IL 60448<br/>
            <a href="http://wwww.authorizedacquisitions.com" style="color: white">wwww.authorizedacquisitions.com</a>
        </div>
    </div>
</body>
</html>
